[submodule "kirby"]
	path = kirby
	url = https://creichel@github.com/getkirby/kirby.git
[submodule "site/plugins/kirby3-autoid"]
	path = site/plugins/kirby3-autoid
	url = https://creichel@github.com/bnomei/kirby3-autoid.git
[submodule "site/plugins/markdown-field"]
	path = site/plugins/markdown-field
	url = https://github.com/sylvainjule/kirby-markdown-field.git
[submodule "site/plugins/kirby-builder"]
	path = site/plugins/kirby-builder
	url = https://github.com/TimOetting/kirby-builder.git
[submodule "site/plugins/kirby3-instagram"]
	path = site/plugins/kirby3-instagram
	url = https://github.com/bnomei/kirby3-instagram.git
[submodule "site/plugins/uniform"]
	path = site/plugins/uniform
	url = https://creichel@github.com/mzur/kirby-uniform.git
[submodule "site/plugins/securedpages"]
	path = site/plugins/securedpages
	url = https://github.com/kerli81/kirby-securedpages.git
[submodule "site/plugins/color-palette"]
	path = site/plugins/color-palette
	url = https://github.com/sylvainjule/kirby-color-palette.git
[submodule "site/plugins/icons-field"]
	path = site/plugins/icons-field
	url = https://github.com/SamuelRiversMoore/icons-field.git
