:root {
  --content-width: 65rem;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

strong,
b {
  font-weight: 500;
}

img {
  width: 100%;
}

.page {
  padding: 5vh 5vw 10vh;

  > * {
    max-width: var(--content-width);
    margin: 0 auto;
  }
}

.header {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    position: relative;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    padding: 0.5rem 0;
    font-weight: 700;
  }

  .logo {
    display: block;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0;
  }
}

.mainNavigation a {
  margin: 0 0.75rem;

  &[aria-current] {
    border-bottom: 2px solid #000;
  }
}

@media screen and (min-width: 40rem) {
  .header .logo {
    margin-bottom: 0;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .mainNavigation {
    margin-right: -0.75rem;
  }
}

.logo {
  margin-left: 50px;
  position: relative;

  img {
    width: auto;
    height: 50px;
    position: absolute;
    left: -50px;
    top: -10px;
    margin: 0;
  }
}

main {
  min-height: calc(100vh - 10rem);
}

.intro {
  padding: 10vh 0;
  text-align: center;

  h1 {
    position: relative;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: calc(1vw + 2rem);
    z-index: 1;
  }
}

.tags {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 0.75rem;
  font-weight: 600;
}

.text {
  line-height: 1.5em;

  p,
  figure,
  ul,
  ol {
    margin-bottom: 1.5em;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  > *:first-child {
    margin-top: 0;
  }
  a {
    position: relative;
    white-space: nowrap;
    font-weight: 500;
    z-index: 1;
    display: inline-block;
    border-bottom: 2px solid #000;
  }

  figure {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  img {
    width: 100%;
  }
}

.footer {
  padding: 1.5rem 5vw 10vh;
  text-align: center;
  max-width: var(--content-width);
  margin: 0 auto;
  line-height: 1.5em;

  a {
    display: inline-block;
    font-size: 0.875rem;
  }

  > a {
    margin-bottom: 1.5rem;
    border-top: 2px solid #000;
    width: 16.5rem;
    padding-top: 0.5rem;
  }

  nav a {
    margin: 0 0.75rem;
    padding: 0.5rem 1rem;
    border: 2px solid #000;
    width: 7.5rem;
  }

  nav a:hover {
    background: #000;
    color: #fff;
  }
}
